{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container ">
		<div class="row justify-content-center text-center">
			<div class="col-xs-4">
				<img class="quizz-pic" src="/assets/images/{{categories.image}}" alt="image de la {{categories.name}}"></div>
			<div class="col-xs-6">
				<h1 class="mx-auto my-3">
					Catégorie
					{{categories.name}}
				</h1>
			</div>
		</div>
	</div>
	{# le track.path retourne le nom-du-fichier.mp3 a inclure dans le lecteur audio
				en rajoutant le chemin complet : /uploads/tracks/{{track.path}}
				l'array tracks est recuperer dans la bdd de maniere random. Refresh pour voir l'ordre la liste changer #}
        
<div class="h-75 d-flex flex-column justify-content-evenly align-items-center mt-1">
    <h1 class="h1-category">
        Catégorie
        {{categories.name}}
    </h1>

    <a href="/quizzProgress" class="btn-lancer text-center col-6 col-md-3 mt-1 " >Lancer la partie</a>
</div>
{% endblock %}



