{% extends 'layout.html.twig' %}

{% block content %}

	<h2 class='mt-5 mx-auto text-center'>

		{% if session.quizz_session %}
			{% if session.quizz_session.correct and session.quizz_session.correct|length > 1 %}
				Bien joué
				{{user}}
				tu as
				{{session.quizz_session.correct|length}}
				bonnes réponses :
			{% elseif session.quizz_session.correct|length == 1 %}
				Pas mal tu as
				{{session.quizz_session.correct|length}}
				bonne réponse :
			{% else %}
				Dommage aucune bonne réponse, retente ta chance.
			{% endif %}
		{% endif %}

	</h2>
	<p class='text-center'>
		{% for result in results.correct %}
			✔️{{result[1]}}

		{% endfor %}
	</p>

	<div class="rank text-center mt-5">
		<div class='row'>
			<div class="col-xs-1 col-sm-4 end">
				<a class='btn mb-2  btn-tertiary btn-block' href="/quizz/result">All time</a>
			</div>
			<div class="col-xs-1 col-sm-4">
				<a class='btn mb-2  btn-tertiary btn-block' href="/quizz/lastSeven">Last 7 days</a>
			</div>
			<form action="/quizz/result/category" method="post" class="col-xs-1 col-sm-4 start d-flex flex-column form-cat">
				<button class='btn btn-tertiary mb-2 btn-block'>Valider</button>
				<select name="categories" id="categories" class="cat-select">
					{% for category in categorises %}
						<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
			</form>
		</div>
	</div>
	<div class="center">

		<div class="top3">
			{% for rank in ranks|slice(1,1) %}

				<div class="two item">
					<div class="pos">
						🥈
					</div>
					<div class="pic" style="background-image: url('/assets/images/{{rank.image}}')"></div>
					<div class="name">
						{{rank.pseudo}}
					</div>
					<div class="score">
						{{rank.score}}
					</div>
				</div>
			{% endfor %}
			{% for rank in ranks|slice(0,1) %}


				<div class="one item">
					<div class="pos">
						🥇
					</div>
					<div class="pic" style="background-image: url('/assets/images/{{rank.image}}')"></div>
					<div class="name">
						{{rank.pseudo}}
					</div>
					<div class="score">
						{{rank.score}}

					</div>
				</div>
			{% endfor %}
			{% for rank in ranks|slice(2,1) %}
				<div class="three item">


					<div class="pos">
						🥉
					</div>
					<div class="pic" style="background-image: url('/assets/images/{{rank.image}}')"></div>
					<div class="name">
						{{rank.pseudo}}
					</div>
					<div class="score">
						{{rank.score}}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="list">
			{% set nb = 3 %}
			{% for rank in ranks|slice(3,2) %}
				{% set nb = nb + 1 %}
				<div class="item">
					<div class="pos">
						{{nb}}
					</div>
					<div class="pic" style="background-image: url('/assets/images/{{rank.image}}')"></div>
					<div class="name">
						{{rank.pseudo}}
					</div>
					<div class="score">
						{{rank.score}}
					</div>
				</div>

			{% endfor %}
			<span id="more">
				{% set nb = 5 %}
				{% for rank in ranks|slice(5)|filter(rank => rank.score > 0 )%}
					{% set nb = nb + 1 %}
					<div class="item">
						<div class="pos">
							{{nb}}
						</div>
						<div class="pic" style="background-image:  url('/assets/images/{{rank.image}}')"></div>
						<div class="name">
							{{rank.pseudo}}
						</div>
						<div class="score">
							{{rank.score}}
						</div>
					</div>
				{% endfor %}

			</span>
		</div>
	</div>
	<div class="text-center">

		<button class='btn mb-2 btn-secondary' onclick="myFunction()" id="myBtn">Full Ranking</button>
	</div>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/readmore.js"></script>
{% endblock %}
