{% extends "layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="text-dashboard text-center">
			<h2 class="text-dashboard text-white">Liste des morceaux</h2>
		</div>
		<table class="table" cellspacing="0" cellpadding="0">
			<thead>
				<tr class="tr-form">
					<th>Titres</th>
					<th>Artistes</th>
					<th>Catégories</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for track in tracks %}

					<tr class="tr-form">
						<td>{{track.title}}</td>
						<td>{{track.artist}}</td>
						<td>{{track.name}}</td>
						<td>
							<a href="/dashboard/show?id={{track.id}}">Modifier</a>
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12 form-dashboard">
				<form action="/dashboard/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-center form-dashboard">
					<div>
						<input class="mb-2 form-control" type="file" name="path" accept="audio/mp3"/></div>
					<div class="div-btn mb-2">
						<label for="title"></label>
						<input class="placehorder" type="text" id="title" name="title" placeholder="Titre">
						<label for="artist"></label>
						<input class="placehorder" type="text" id="artist" name="artist" placeholder="Artiste">
						<label for="category"></label>
						<select name="category" id="category" class="btn-category btn btn-tertiary">
							<option value="">Choisissez la catégorie</option>
							<option value="1">Rap</option>
							<option value="2">Pop</option>
							<option value="3">Années 80</option>
							<option value="4">Meme</option>
						</select>
					</div>

					<button type="submit" class="btn mb-2 mb-md-0 btn-tertiary btn-block button-enregistrer">ENREGISTRER</button>
				</form>
			</div>
		</div>
	</div>

	{% if errors %}
		{% for error in errors %}
			<li>{{error}}</li>
		{% endfor %}
	{% endif %}

{% endblock %}
