{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Track : {{ tracks.title }}</h1>
    <p>{{ track.id }}. {{ track.artist }}</p>
    <a href="/dashboard/edit?id={{ track.id }}">Edit</a>
    <form action="/dashboard/delete" method="POST">
        <input type="hidden" name="id" value="{{ item.id }}">
        <button>Delete</button>
    </form>
    <a href="/dashboard">Back</a>
{% endblock %}
